*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;

}
.main form input{
    width: 60px ;
    height: 50px;
    margin: 10px;
}
.main form input.equal{
    width: 145px;
    margin: 15px 0;
}
form .displays{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .displays input{
    text-align: right;
    flex: 2;
}
